name: ci
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

jobs:
  go-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Run linters
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: --timeout=3m
  go-test:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: go tests
        run: (set -o pipefail && go test -v -covermode=count -json ./... | tee test.json)
      - name: annotate go tests
        if: always()
        uses: guyarb/golang-test-annotations@v0.6.0
        with:
          test-results: test.json
  connector-test:
    runs-on: ubuntu-latest
    env:
      BATON_CREDENTIALS_JSON: ${{ secrets.BATON_CREDENTIALS_JSON }}
      BATON_CUSTOMER_ID: ${{ secrets.BATON_CUSTOMER_ID }}
      BATON_ADMINISTRATOR_EMAIL: ${{ secrets.BATON_ADMINISTRATOR_EMAIL }}
      BATON_DOMAIN: ${{ secrets.BATON_DOMAIN }}
      BATON_LOG_LEVEL: debug
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build connector
        run: go build -o baton-google-workspace ./cmd/baton-google-workspace
      - name: Test connector capabilities
        run: |
          ./baton-google-workspace capabilities
      - name: Test connector sync 
        run: |
          ./baton-google-workspace --file /tmp/sync-test.c1z
      - name: Install baton CLI
        uses: ConductorOne/github-workflows/actions/get-baton@v2
      - name: Test change user org unit action
        env:
          TARGET_ORG_UNIT: ${{ vars.TARGET_ORG_UNIT }}
        run: ./scripts/test-org-unit-change.sh
      - name: Test create group action
        run: ./scripts/test-create-group.sh
      - name: Test account provisioning
        uses: ConductorOne/github-workflows/actions/account-provisioning@v3
        with:
          connector: ./baton-google-workspace
          account-email: "${{ vars.PRIMARY_EMAIL }}"
          account-profile: '{"email":"${{ vars.PRIMARY_EMAIL }}","given_name":"${{ vars.GIVEN_NAME }}","family_name":"${{ vars.FAMILY_NAME }}"}'
          sleep: 35
